**Tuples**

In [5]:
import numpy as np

In [6]:
#Tuples - very similar to the list data structure
#created by placing values in normalz brackets
l = (1,2,3)
l[0]

1

In [7]:
l= [1,2]
l

[1, 2]

In [13]:
m = np.array(l)
type(m) #numpy.ndarray
print (m)

[1 2]

In [14]:
Singleton = (1,)
(1,)*5

(1, 1, 1, 1, 1)

In [7]:
s1 = (1,0)
s1 += (1,)
s1

(1, 0, 1)

**Methods available for tuples**

In [11]:
#Only two available
l = (1,2,3,1)
l.count(1) #how many of them are there?

2

In [12]:
l.index(2) # where in the ordering is it coming?

1

## can be used as key/value pairs to build dictionaries

In [13]:
d = dict([('jan',1),('feb',2),('march',3)]) # make a dict out of something, make sure rounded brackets on the outside
d['feb']

2

In [14]:
#To find the length of a tuple
t = (1,2)
len(t)

2

In [16]:
t = (1,2,3,4,5)
t[2:]

(3, 4, 5)

In [20]:
t = (1,2,3,4,5)
newt = t
newt

(1, 2, 3, 4, 5)

In [22]:
#tuples are not fully immutable 
#If a value within a tuple is mutable, then you can change it: 
t= (1,2,[3,10])
t[2][0]=9 
t

(1, 2, [9, 10])

In [23]:
#Convert a tuple to a string with either
str(t)

'(1, 2, [9, 10])'

In [25]:
#Comparison operators and mathematical functions can be used on tuples. Some examples:
t = (1,2,3)
max(t)

3

**Common Sequence Operators**